/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100vw;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #0D0A0B, #161a1d);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inconsolata', monospace !important;
    color: white;
}